@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://use.fontawesome.com/releases/v6.5.2/css/all.css');

:root {
    --bgColor: #0a0a0a;
    --textColor: #e2e2e2;
    --accentColor: #2a85ec;
    
    --font: 'Fira Sans', monospace;
    --accentFont: 'Fira Sans', var(--font);
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: var(--bgColor);
    margin: 0;
}

h1, h2, a, i, p {
    color: var(--textColor);
    font-family: var(--font);
    text-decoration: none;
    margin: 0;
}

h1 {
    font-family: var(--accentFont);
    font-size: 4rem;
    font-weight: 700;
    margin: 0 0 2rem;
}

a.link {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--textColor);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

a.link:hover {
    color: var(--accentColor);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.links > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}