@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://use.fontawesome.com/releases/v6.5.2/css/all.css');

:root {
    --bgColor: #0a0a0a;
    --textColor: #e2e2e2;
    --accentColor: #2a85ec;
    
    --font: 'Fira Sans', monospace;
    --accentFont: 'Fira Sans', var(--font);
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: var(--bgColor);
    margin: 0;
}

h1, a, i, p {
    color: var(--textColor);
    font-family: var(--font);
    text-decoration: none;
}

h1 {
    font-family: var(--accentFont);
    font-size: 4rem;
    font-weight: 700;

    margin: 0;
    line-height: 100%;
}

a, p {
    font-size: 1.5rem; 
    word-spacing: 0rem;
    font-weight: 400;
}

.link:hover {
    color: var(--accentColor)
}

br {
    display: block;
    content: "";
    margin-top: .7rem;
}

.space {
    display: block;
    content: "";
    margin-top: 2rem;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 0 0 2rem 0;
}

.header img {
    justify-content: flex-end;
    align-self: flex-end;

    width: 2.5rem;
    height: 2.5rem;

    margin: 0 0 0 .25rem;
}

.links {
    display: flex;
    flex-direction: row;
}